extends base

block vars
	- var title = "Index Page"

block body
	center
		p Guess the game being played on this stream by reading the chat.

		iframe( 
			src="http://www.twitch.tv/#{stream}/chat" 
			frameborder="0" 
			scrolling="no" 
			height="500" 
			width="500" 
		)


		ul 
			each val in games
				button(
					type='submit'
					name='#{val}'
					style='width: 240px; height: 200px; color:purple; ') #{val}